[DEVICE]
Name=STM32F107VC
Clock=72000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_Matrix_RGB_STM.c
[HEADERS]
Count=4
File0=Click_Matrix_RGB_config.h
File1=Click_Matrix_RGB_types.h
File2=fonts.h
File3=images.h
[PLDS]
Count=1
File0=Click_Matrix_RGB.pld
[Useses]
File0=UART
File1=Conversions
File2=C_String
File3=Matrix_RGB_STM32_M3
File4=easymx_v7_STM32F107VC
File5= SPI
File6=//I2C
Count=7
